/*
 * Modern CSS reset.
 * Based on:
 * - https://www.joshwcomeau.com/css/custom-css-reset/
 * - https://andy-bell.co.uk/a-more-modern-css-reset/
 */

 html {
    /*
     * Use a more-intuitive box-sizing model.
     * But allow overriding (e.g. for relative-positioned elements).
     */
    box-sizing: border-box;

    /*
     * Prevent mobile font-size adjustment
     * https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
     */
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    /*
     * Remove default margin from everything so we can directly control it
     */
    margin: 0;
}

body {
    /*
     * WCAG recommended line height for main paragraph content 
     */
    line-height: 1.5;

    /*
     * Make the body fill the viewport
     */
    min-height: 100vh; /* Fallback for any browsers that don't support dvh */
    min-height: 100dvh;

    /*
     * Nicer font smoothing
     * Only affects Webkit browsers on macOS. All other platforms do this already.
     */
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    /*
     * Tidier line heights for headings
     */
    line-height: 1.1;

    /*
     * Balanced wrapping on headers looks much nicer
     */
    text-wrap: balance;
}

h1, h2, h3, h4, h5, h6,
p {
    /*
     * Prettify broken words on overflow
     */
    hyphens: auto;

    /*
     * Avoid text overflows with very long words
     */
    overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
    /*
     * Make media elements block instead of inline by default
     */
    display: block;

    /*
     * Fix overflow
     */
    max-width: 100%;
}

button,
input,
label,
select {
    /*
     * Tidier line heights for single-line form elements
     */
    line-height: 1.1;
}

button,
input,
select,
textarea {
    /*
     * Reset typography styles for form controls
     */
    font: inherit;
}

textarea:not([rows]) {
    /*
     * Make sure textareas without a rows attribute are not tiny
     */
    min-height: 10em;
}
